body{
    /*background-color:#ffeba3;*/
    background-color:#ffffff;
    color:#f8bb00;
    font-family:"arial";
    padding-top:40px;
}

.landing-header{
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 15vh;
}
.form-signin{
    background: rgba(255,255,255,0.5); 
}

/*  Slideshow Inicial - Inicio */
.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 40s linear infinite;
}

.slideshow li:nth-child(1) { 
  background-image: url(../img/Atlantica1.jpg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(../img/Atlantica2.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(../img/Atlantica3.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(../img/Atlantica4.jpg);
  animation-delay: 30s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}

/*  Slideshow Inicial - Fim */


.text-red{
    color: #de3831;
	text-transform:uppercase;
}

.text-centered{
    text-align:center;
}
.navbar{
    background:#f8bb00;
    color:#ffffff;
}

.navbar a{
    color: #ffffff;
}

.btn-danger{
    background:#0087cf;
}

.card-header{
    color:#f8bb00;
    margin-left: -8px;
    margin-right: -8px;
}

.logo{
    width: 40%;
}



a:link{
  color:#000;
  text-decoration-color:#f0bb00;
}
a:visited{
  color:#000;
  text-decoration-color:#f0bb00;
}
a:hover{
  color:#f0bb00;
  text-decoration: none;
}
a:focus{
  color:#000;
  text-decoration-color:#f0bb00;
}
a:active{
  color:#f8bb00;
}

.card-pg{
    background: #ea5d12;
    color: #ffffff;
    height:17rem;
}

.btn-outline-pg{
    background: #ffffff;
    color: #0087cf;
}

.btn-outline-pg:hover, .btn-outline-pg:focus, .btn-outline-pg:active {
    background: #ea5d12;
    color: #f8bb00;
}

.card-pe{
    background: #f49a00;
    color: #ffffff;
    height:17rem;
}

.btn-outline-pe{
    background: #ffffff;
    color: #f8bb00;
}

.btn-outline-primary{
    background: #ffffff !important;
    color: #f8bb00 !important;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background: #f8bb00 !important;
    color: #ffffff !important;
}

.btn-outline-pe:hover, .btn-outline-pe:focus, .btn-outline-pe:active {
    background: #f8bb00;
    color: #ffffff;
}

/*.card{
    height:17rem;
}*/
.card-po{
    background: #6daab3;
    color: #ffffff;
    height:16rem;
}
.btn-outline-po{
    background: #ffffff;
    color: #6daab3;
}

.btn-outline-po:hover, .btn-outline-po:focus, .btn-outline-po:active {
    background: #6daab3;
    color: #ffffff;
}

.btn-outline-primary{
	border:1px solid #f0bb00 !important;
}

.tooltip-inner{
    background: #6f6f6f;
    color: #ffffff;
    border: 1px solid #6f6f6f; 
    padding: 15px;
    font-size: 0.9rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before{
    border-top: 5px solid #6f6f6f;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before{
    border-right: 5px solid #6f6f6f;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before{
    border-bottom: 5px solid #6f6f6f;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before{
    border-left: 5px solid #6f6f6f;
}



.button-text{
    font-size: 0.7rem;
    width: 150px;
    height: 40px;
}

.button-text > a:link, .button-text > a:visited{
    color: #585a5b;
    line-height: 1.1;
}



/*  Inicio efeitos imagem Menu   */
.column {
    margin: 15px 15px 0;
    padding: 0;
}
.column:last-child {
    padding-bottom: 60px;
}
.column::after {
    content: '';
    clear: both;
    display: block;
}
.column div {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 0 0 0 25px;
    padding: 0;
}
.column div:first-child {
    margin-left: 0;
}
.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #f8bb00;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}
figure {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.hover04 figure img {
    width: 400px;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover04 figure:hover img {
    width: 300px;
}

/*  Fim efeitos imagem Menu   */

/* Scroll to the top */
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/*srcoll to the top - fim */


.form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.fs-7{
    font-size: .75em;
}